@media (min-width: 741px) and (max-width: 1366px) {
  .header {
    background-size: cover;
  }
  .card-with-text {
    padding: 50px 30px;
  }
  .card-text {
    width: 320px;
  }
  .card-with-text:last-child {
    padding: 50px 30px;
  }
  .clients {
    padding: 50px;
  }
  .clients-boxes {
    flex-wrap: wrap;
  }
  .clients-box {
    width: 100%;
    margin-bottom: 50px;
  }
  .clients-box:not(:last-child) {
    margin-right: 0px;
  }
  .clients-box-text {
    margin-left: auto;
    margin-right: auto;
  }
}
